<div class="flex justify-between w-full my-4">
  <h2 class=" text-4xl">Searches</h2>
</div>
<table class="table-auto w-full  border">
  <thead>
  <tr class="border-b font-bold text-blue-400 text-left">
    <th class="p-2 pb-3"></th>
    <th class="p-2 pb-3">Keyword</th>
    <th class="p-2 pb-3">Popularity</th>
    <th class="p-2 pb-3">Search
      by
    </th>
    <th class="p-2 pb-3">Article
      Visited
    </th>
  </tr>
  </thead>
  <tbody>
  <% @searches.each do |search| %>
    <%= render"analytics/search", search: %>
  <% end %>
  </tbody>
</table>
