<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @article, show_body: true %>
    <% if can? :update, @article %>
    <%= link_to 'Edit this article', edit_article_path(@article), class: "app-btn btn-blue p-2 rounded" %>
    <% end %>
      <% if can? :destroy, @article %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this article', article_path(@article), method: :delete, class: "p-1 app-btn btn-danger rounded" %>
    </div>
      <% end %>
        <% if can? :update, @article %>
    <%= link_to 'Back to articles', articles_path, class: "ml-2 app-btn btn-default rounded p-2" %>
      <% end %>
  </div>
</div>
