<dialog id="turbo-confirm">
    <form method="dialog">
      <p>Are you sure ?</p>
      <div>
        <button value="cancel">Cancel</button>
        <button value="confirm">Confrim</button>
      </div>
    </form>
</dialog>