<dialog id="turbo-confirm">
    <form method="dialog">
      <p>Are you sure ?</p>
      <div>
        <button value="cancel" class="btn-blue">Cancel</button>
        <button value="confirm" class="btn-danger">Confirm</button>
      </div>
    </form>
</dialog>