<footer id="footer" data-controller="hello" data-action="" class="footer px-4 py-2 right-0 bottom-0 hover:-right-60 fixed bg-white">
  <div class="footer-content">
    <p class="text-sm text-gray-600 text-center">© Usb Bush 2023. All rights reserved.
      <a href="https://twitter.com/usbbush" target="_blank" rel="noopener noreferrer">by usb</a></p>
  </div>
</footer>