<footer class="footer px-4 py-6">
  <div class="footer-content">
    <p class="text-sm text-gray-600 text-center">© Usb Bush 2023. All rights reserved. <a href="https://twitter.com/usbbush">by usb</a></p>
  </div>
</footer>