<header class="header bg-white shadow py-4 px-4">
  <div class="header-content flex items-center flex-row">
    <div class="flex ml-auto">
      <a href class="flex flex-row items-center">
        <img
          src="https://usbbush.vercel.app/static/media/usb-transparent.0498cacb3f195f61094d.png"
          alt
          class="h-10 w-10 bg-gray-200 border rounded-full"
          />
        <span class="flex flex-col ml-2">
                <span class="truncate w-40 font-semibold tracking-wide leading-none"><%= current_user.email %>></span>
                <span class="truncate w-40 text-gray-500 text-xs leading-none mt-1"><%= current_user.role %></span>
              </span>
      </a>
    </div>
  </div>
</header>