<div data-controller="toast" class="text-sm font-normal p-4 w-full flex text-gray-500 bg-white dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 divide-gray-200 rounded-lg shadow">
  <%= message %>
</div>
