<tr id="<%= dom_id article %>">
<td class="border-b  p-4  ">
    #
  </td>
<td class="border-b p-4 flex-wrap flex">
<%= article.title %>
  </td>

<td class="border-b  p-4  ">
    <%= sub_masked_email(article.user.email) %>
  </td>

<td class="border-b  p-4  ">
  <%= article.visited_count %>
  </td>
</tr>
