<div class="flex justify-between w-full my-4">
  <h2 class="font-bold text-4xl">Searches</h2>
<!--  <div class="flex gap-3">-->
    <%#= link_to 'New article', new_article_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%#= link_to 'View articles', articles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--  </div>-->
</div>
<table class="table-auto w-full shadow border">
  <thead>
  <tr>
    <th class="border-b dark:border-slate-600 font-medium py-2 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Id</th>
    <th class="border-b dark:border-slate-600 font-medium py-2 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Keyword</th>
    <th class="border-b dark:border-slate-600 font-medium py-2 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Popularity</th>
    <th class="border-b dark:border-slate-600 font-medium py-2 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Search
      by
    </th>
    <th class="border-b dark:border-slate-600 font-medium py-2 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Article
      Visited
    </th>
  </tr>
  </thead>
  <tbody>
  <% @searches.each do |search| %>
    <%= render "home/search", search: %>
  <% end %>
  </tbody>
</table>
