<div class="flex gap-3 px-2 mt-6 ">
  <div class="w-1/4 shadow-lg border">
    <h3 class="border-b flex items-center gap-2 text-blue-600  font-semibold text-2xl py-2 pl-3 rounded-t">
      <div class="flex relative bg-blue-500 justify-center items-center w-4 h-4 mt-1 rounded-full ">
      </div>
      Users
    </h3>
    <table class="table-auto w-full">
      <thead>
      <tr>
        <th class="border-b dark:border-slate-600 font-medium py-4 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Id</th>
        <th class="border-b dark:border-slate-600 font-medium py-4 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">email</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <%= render "home/user", user: %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="w-3/4 shadow-lg border">
    <h3 class="border-b flex items-center gap-2 text-blue-600   font-semibold text-2xl py-2 pl-3 rounded-t">
      <div class="flex relative bg-blue-500 justify-center items-center w-4 h-4 mt-1 rounded-full ">
      </div>
      Most Read
    </h3>
    <table class="table-auto w-full p-1">
      <thead>
      <tr>
        <th class="border-b dark:border-slate-600 font-medium py-4 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Id</th>
        <th class="border-b dark:border-slate-600 font-medium py-4 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Title</th>
        <th class="border-b dark:border-slate-600 font-medium py-4 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Author</th>
        <th class="border-b dark:border-slate-600 font-medium py-4 pl-2 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Visited</th>
      </tr>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
        <%= render "home/article", article: %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>