<% articles.each do |article| %>
  <div class="flex justify-between px-4 py-2 border border-b border-gray-200">
        <span class="w-full">
          <%= link_to article.title, article_url(article), class: 'w-100' %>
        </span>
  </div>
<% end %>
