<%= turbo_frame_tag "searches" do %>
  <% searches.each do |article| %>
    <div class="flex justify-between px-4 py-2 border border-b border-gray-200">
        <span class="w-full">
          <a href=""></a>
          <%= link_to  visit_url(:article_id => article.id, :term => ( term unless term.nil?)), class: 'mb-2' do %>
            #
                 <div class="border-b"><%= highlight(article.title,term.split) %></div>

                 <div><%= highlight(article.body, term.split) %></div>
          <% end %>
        </span>
    </div>
  <% end %>
<% end %>