<%= turbo_frame_tag "searches" do %>
  <% searches.each do |search| %>
    <div class="flex justify-between px-4 py-2 bg-black/40 text-white hover:bg-white/40">
        <span class="w-full">
          <%= link_to search.title, search_path(search.id) %>
        </span>
    </div>
  <% end %>
<% end %>