<% searches.each do |search| %>
  <div class="inline-block bg-gray-100 hover:shadow-md rounded-full px-3 py-1 m-2 text-sm font-semibold text-gray-700 ">#
    <%= link_to search.term, search_url(search), class: 'text-sm font-semibold ' %>
  </div>
<% end %>
