<div id="rc-<%= @body.id %>" class=" m-3 border rounded p-2 relative" data-controller="admin" data-admin-target="category" data-load="false">
  <div class="rc">
    <%=  raw(markdown(@body.body)) %>
  </div>
  <button class="absolute right-2 bottom-2  shadow-lg p-1 border border-2  z-10 rounded" data-action="click->admin#copyText">
    <%= render 'partials/icons/copy' %>
  </button>
  <div class="msg text-white px-2 rounded ml-auto absolute bottom-0 hidden bg-blue-600">Copied</div>
</div>
