<div class=" m-3 markdown-body max-h-screen overflow-y-auto">
  <h3 class="heading-smaller text-blue-400 pb-3 border-b">Required changes (<span id="count-changes">0</span>)</h3>
  <%= turbo_frame_tag "review" do %>
  <% end %>
</div>
